<nav class="site-nav">
  <div class="nav-inner">
    <a class="nav-brand" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
    <button class="nav-toggle" aria-label="Toggle navigation" onclick="this.nextElementSibling.classList.toggle('open')">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-links">
      {% for link in site.navbar-links %}
      <li>
        {% assign link_name = link[0] %}
        {% assign link_url = link[1] %}
        {% if link_url contains "http" %}
        <a href="{{ link_url }}" target="_blank">{{ link_name }}</a>
        {% else %}
        <a href="{{ site.baseurl }}/{{ link_url }}">{{ link_name }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
